<% if flash[:notice] %>
  <p class='alert alert-success'><%= flash[:notice] %></p>
<% end %>
<h1>Update <%= @character.name %></h1>

<%= form_for [@game, @character] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= render partial: "/shared/field_errors", locals: { model: @character, field: :name } %>
  </div>
  <% @game.attribute_groups.each do |ag| %>
    <fieldset>
      <legend><%= ag.name %></legend>
      <% ag.game_attributes.each do |ga| %>
        <%= render partial: "/games/characters/form_partials/#{ga.class.to_s.underscore}", locals: { game_attribute: ga, field_label: ga.name, form: f, character: @character } %>
      <% end %>
    </fieldset>
  <% end %>
  <%= f.submit "Save Character", class: "btn btn-default" %>
<% end %>
