<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% if flash[:notice] %>
        <p class='alert alert-success'><%= flash[:notice] %></p>
      <% end %>
      <h1>Update Character</h1>
      <%= form_for [@game, @character] do |f| %>
      <div class="row group_row">
        <div class="cs_ability_group clearfix">
          <h4>Character Attributes</h4>
          <div class="game_attribute">
            <span class="attribute_group">
            
              <%= f.label :name %>
              <%= f.text_field :name %>
              <%= render partial: "/shared/field_errors", locals: { model: @character, field: :name } %>
            </span>
          </div>
          <%= f.submit "Save Character", class: "btn btn-default" %>
        </div>
      </div>
        
        
        <div class="row group_row">
          <% @game.attribute_groups.each do |ag| %>
          <div class="cs_ability_group clearfix">
              <h4><%= ag.name %></h4>
              <% ag.game_attributes.each do |ga| %>
              <div class="game_attribute">
                <h5><%= ga.name %></h5>
                <div class="attribute_group_container">
                  <%= render partial: "/games/characters/form_partials/#{ga.class.to_s.underscore}", locals: { game_attribute: ga, parent_label: ga.name, field_label: nil, form: f, character: @character } %>
                </div>
              </div>
              <% end %>
          </div>
          <% end %>
        </div>

        <%= f.submit "Save Character", class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>