<div class="container">
  <div class="row">
    <% if flash[:notice] %>
      <p class='alert alert-success'><%= flash[:notice] %></p>
    <% end %>
    <h1>Update Character</h1>
    <%= form_for [@game, @character] do |f| %>
      <div class="cse_ability_group">
        <h4>Character Attributes</h4>
        <div class="game_attribute">
          <div class="attribute_group">
            <%= f.label :name %>
            <%= f.text_field :name %>
            <%= render partial: "/shared/field_errors", locals: { model: @character, field: :name } %>
          </div>
        </div>
        <%= f.submit "Save Character", class: "btn btn-default" %>
      </div>
      <div id="isotope">
        <% @game.attribute_groups.each do |ag| %>
          <div class="cs_ability_group">
            <h4><%= ag.name %></h4>
            <% ag.game_attributes.each do |ga| %>
              <div class="game_attribute">
                <h5><%= ga.name %></h5>
                <div class="attribute_group_container">
                  <%= render partial: "/games/characters/form_partials/#{ga.class.to_s.underscore}", locals: { game_attribute: ga, parent_label: ga.name, field_label: nil, form: f, character: @character } %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= f.submit "Save Character", class: "btn btn-default" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $( function() {
  $('#isotope').isotope({
    itemSelector: '.cs_ability_group',
    masonry: {
      columnWidth: 100,
      isFitWidth: true,
      gutter: 10
    }
  });
});

  $(window).on("resize load", function() {
    var desired_width = $("#isotope").width()/2 - 20
    $('#isotope .cs_ability_group').css("width", desired_width)
  })
</script>
