<div class="container">
  <div class="row">
    <h2>Your Games</h2>
      <% current_user.games.each do |game| %>
        <div>
          <h3>
            <%= game.name %>
          </h3>
          <nav class='game_summary_nav'>
            <ul class="nav nav-pills">
              <li><%= link_to "Edit", game_path(game) %></li>
              <li><%= link_to "View Characters", game_characters_path(game) %></li>
              <li><%= link_to "Create a Character", new_game_character_path(game) %></li>
            </ul>
          </nav>
          <p><%= game.description %></p>
        </div>
      <% end %>
    </ul>
  </div>
</div>
