<div class="container" id="edit-game-screen">
  <div class="row gameheader">
    <div class="col-sm-8">
      <h1 data-step="1" data-intro="Welcome to Know Your Roll. We're going to walk through the creation of your first game. Here you can see the name of your game.">
        <span class='game-name'><%= @game.name %></span>
        <%= image_tag("info_button.svg", class:"info game-description", title:"#{@game.description}", "data-toggle" => "tooltip", "data-placement" => "right") %>
        <%= link_to edit_game_path, remote: true, "data-toggle" => "modal", "data-target" => "#modal-window" do |l| %>
          <%= image_tag("edit_button.svg", class:"info", title:"Edit #{@game.name}", "data-toggle" => "tooltip", "data-placement" => "right") %>
        <% end %>
      </h1>
    </div>
    <div class="col-sm-2 gamemeta">
      GM: <%= @game.creator.name %><br/>
      Created: <%= @game.created_at.strftime("%m/%d/%Y") %>
    </div>
    <div class="col-sm-2">
      <%= link_to "View Characters", game_characters_path(@game), class:"inline_nav_link" %>
    </div>
  </div>
  <div class="row">
    <span data-step="2" data-intro="All games are made up of a set of attributes. These attributes define how the characters in your game will interact with the game world. We've gone ahead and put a bunch of attributes in for you based on a pretty standard fantasy RPG setup" data-position="right"></span>
    <div id="attribute_groups">
      <% @game.attribute_groups.each do |ag| %>
        <%= render partial: "/games/attribute_group", locals: { game: @game, ag: ag } %>
      <% end %>
    </div>
    <div class="col-sm-4 addgroup">
      <div class="col-sm-12 ability_group">
        <h4>Add group</h4>
        <%= link_to new_game_attribute_group_path(@game), {:remote => true, 'id' => 'addgroup', 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} do |l| %>
          <%= image_tag("add_button.svg") %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="modal-window" class="modal fade bs-example-modal-lg attribute-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
</div>
