<h1><%= @game.name %></h1>
<p><%= @game.description %></p>

<h2>Creator</h2>
Name: <%= @game.creator.name %><br />
Email: <%= @game.creator.email %>

<h2>Attribute Groups</h2>
<ul>
  <% @game.attribute_groups.each do |ag| %>
    <li>
      <%= ag.name %>(<%= ag.sequence %>) - <%= ag.description %>
      <% if ag.game_attributes.any? %>
        <ul>
          <% ag.game_attributes.each do |a| %>
            <%= render partial: a.type.underscore, locals: { attribute:a } %>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Home", root_path %> | <%= link_to "New Game", new_game_path %>
