<div class="container" id="edit-game-screen">
  <div class="row gameheader">
    <div class="col-sm-8">
      <h1>
        <%= @game.name %>
        <%= image_tag("info_button.svg", class:"info", alt:"#{@game.description}") %>
      </h1>
    </div>
    <div class="col-sm-2 gamemeta">
      GM: <%= @game.creator.name %><br/>
      Created: <%= @game.created_at.strftime("%m/%d/%Y") %>
    </div>
    <div class="col-sm-2">
      <%= link_to "View Characters", game_characters_path(@game), class:"inline_nav_link" %>
    </div>
  </div>
  <div class="row">
    <% @game.attribute_groups.each do |ag| %>
    <div class="col-sm-4">
      <div class="col-sm-12 ability_group">
        <h4><%= ag.name %> <%= image_tag("edit_button.svg", class:"info") %> <%= link_to image_tag("add_button.svg", class:"info"), new_game_game_attribute_path(@game.id, attribute_group_id: ag.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: "attribute_edit"}  %></h4>
        <div class="group_description"><%= ag.description %></div>
        <% if ag.game_attributes.any? %>
        <div class="attribute_list">
          <% ag.game_attributes.each do |a| %>
            <%= render partial: a.type.underscore, locals: { attribute:a } %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
    <div class="col-sm-4 addgroup">
      <div class="col-sm-12 ability_group">
        <h4>Add group</h4>
        <a id="addgroup" href="javascript:void(0)"><%= image_tag("add_button.svg") %></a>
      </div>
    </div>
  </div>
  <div id="modal-window" class="modal fade bs-example-modal-lg attribute-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
</div>
