<div class="container" id="edit-game-screen">
  <div class="row gameheader">
    <div class="col-sm-8">
      <h1>
        <%= @game.name %>
        <%= image_tag("info_button.svg", class:"info", alt:"#{@game.description}") %>
      </h1>
    </div>
    <div class="col-sm-2 gamemeta">
      GM: <%= @game.creator.name %><br/>
      Created: <%= @game.created_at.strftime("%m/%d/%Y") %>
    </div>
    <div class="col-sm-2">
      <%= link_to "View Characters", game_characters_path(@game), class:"inline_nav_link" %>
    </div>
  </div>
  <div class="row">
    <div id="attribute_groups">
      <% @game.attribute_groups.each do |ag| %>
        <%= render partial: "/games/attribute_group", locals: { game: @game, ag: ag } %>
      <% end %>
    </div>
    <div class="col-sm-4 addgroup">
      <div class="col-sm-12 ability_group">
        <h4>Add group</h4>
        <%= link_to new_game_attribute_group_path(@game), {:remote => true, 'id' => 'addgroup', 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} do |l| %>
          <%= image_tag("add_button.svg") %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="modal-window" class="modal fade bs-example-modal-lg attribute-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
</div>
