<div class="container" id="edit-game-screen">
  <div class="row gameheader">
    <div class="col-sm-8">
      <h1 data-step="1" data-intro="Welcome to Know Your Roll. We're going to walk through the creation of your first game. Here you can see the name of your game.">
        <span class='game-name'><%= @game.name %></span>
        <%= image_tag("info_button.svg", class:"info game-description", title:"#{@game.description}", "data-toggle" => "tooltip", "data-placement" => "right") %>
        <%= link_to edit_game_path, remote: true, "data-toggle" => "modal", "data-target" => "#modal-window" do |l| %>
          <%= image_tag("edit_button.svg", class:"info", title:"Edit #{@game.name}", "data-toggle" => "tooltip", "data-placement" => "right") %>
        <% end %>
        <%= link_to "Take a Tour", "#", class: "btn btn-primary tour-btn" %>
      </h1>
      <span data-step="3" data-intro="These attributes are grouped together with other like attributes. You can edit, add, remove, or even remove these groups! Just click on the icons next to the group name to customize your game." data-position="right"></span>
    </div>
    <div class="col-sm-2 gamemeta">
      GM: <%= @game.creator.name %><br/>
      Created: <%= @game.created_at.strftime("%m/%d/%Y") %>
    </div>
    <div class="col-sm-2">
      <span data-step="5" data-intro="You can click here to look at the characters in your game. You can come add new characters or edit the attributes of an existing one. Inside you'll find a custom character sheet defined by attributes and rules you create. Your players can edit their characters as they play. So forget the pencils and paper, move your tabletop rpg to the 21st century!" data-position="right">
        <%= link_to "View Characters", game_characters_path(@game), class:"inline_nav_link" %>
      </span>
    </div>
  </div>
  <div class="row">
    <span data-step="2" data-intro="All games are made up of a set of attributes. These attributes define how the characters in your game will interact with the game world. We've gone ahead and put a bunch of attributes in for you based on a pretty standard fantasy RPG setup" data-position="right"></span>
    <div id="attribute_groups">
      <% @game.attribute_groups.each do |ag| %>
        <%= render partial: "/games/attribute_group", locals: { game: @game, ag: ag } %>
      <% end %>
    </div>
<span class="float: right;" data-step="4" data-intro="Inside these groups is where your game really lives. The attributes inside control what a player sees on their character sheet for your game. More than that, they can interact with each other to automatically change by rules you create! Click on the + in a group to add an attribute or click an attribute to edit one. When you add a new attribute, you'll find more information on the types and capabilities of each one."></span>
    <div class="col-sm-4 addgroup">
      <div class="col-sm-12 ability_group">
        <h4>Add group</h4>
        <%= link_to new_game_attribute_group_path(@game), {:remote => true, 'id' => 'addgroup', 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} do |l| %>
          <%= image_tag("add_button.svg") %>
        <% end %>
      </div>
    </div>
</div>
  <div id="modal-window" class="modal fade bs-example-modal-lg attribute-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
</div>

<script type="text/javascript">
  $('.tour-btn').click(function (e) {
    introJs().start();
    e.preventDefault();
});
</script>