<% character_attribute = @character.character_attribute_matching_game_attribute(game_attribute) %>

<% if character_attribute %>
  <%= form.fields_for :character_attributes, character_attribute do |ca| %>
    <div class="attribute-group">
      <% if field_label != nil %>
      <%= ca.label :value, field_label %>
      <% end %>
      <% if game_attribute.multi_line %>
        <%= ca.text_area :value %>
      <% else %>
        <%= ca.text_field :value %>
      <% end %>
      <%= ca.hidden_field :game_attribute_id %>
      <%= ca.hidden_field :type %>
      <%= render partial: "/games/characters/form_partials/errors", locals: { model: character_attribute } %>
    </div>
  <% end %>
<% end %>
