<% if game_attribute.has_character_attribute %>
  <% character_attribute = @character.character_attribute_matching_game_attribute(game_attribute) %>
  <% if character_attribute %>
    <%= form.fields_for :character_attributes, character_attribute do |ca| %>
      <div class="form-group">
        <%= ca.label :value, field_label %>
        <%= ca.hidden_field :game_attribute_id %>
        <% if game_attribute.allows_multiple_values %>
          <%= ca.select :value, game_attribute.options.collect{|o|[o.name, o.id]}, { include_blank: false }, { multiple: 'multiple' }%>
        <% else %>
          <%= ca.select :value, game_attribute.options.collect{|o|[o.name, o.id]}, { include_blank: true }  %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% game_attribute.container_elements.each do |element| %>
  <%= render partial: "/games/characters/form_partials/#{element.class.to_s.underscore}", locals: { game_attribute: element, field_label: element.name, form: form, character: character } %>
<% end %>
