<%= form_for [game, @parent, attribute.becomes(GameAttribute)] do |f| %>
	<%- f.object = attribute.becomes(attribute.class) %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :description, "Tooltip" %>
		<%= f.text_area :description %>
		<%= f.hidden_field :type, value: params[:type] %>
	</div>
<% end %>