<%= form_for [game, @parent, attribute.becomes(GameAttribute)], :remote => true do |f| %>
	<%- f.object = attribute.becomes(attribute.class) %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :description, "Tooltip" %>
		<%= f.text_area :description %>
	</div>
<% end %>