<%= form_for [game, @parent, attribute.becomes(GameAttribute)] do |f| %>
	<%- f.object = attribute.becomes(attribute.class) %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :min_number, "Minimum" %>
		<%= f.number_field :min_number %>
	</div>
	<div>
		<%= f.label :max_number, "Maximum" %>
		<%= f.number_field :max_number %>
		<%= f.hidden_field :type, value: params[:type] %>
	</div>
<% end %>